body {
  /*width: 600px;*/
  height: 600px;
  margin: 0 auto;
  text-align: center;
  /*border: 1px solid black;*/
}

.racer_table td {
  width: 100%;
  background-image: url("http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0124/8012/rrrrWizard_of_Oz_-_Yellow_Brick_Road_mirror.png");
}

.login-modal {
  left: 5%;
  top: 100px;
  position: absolute;
  visibility: hidden;
  width: 40%;
  height: 400px;
  border: 1px solid black;
  opacity: 1;
  z-index: 1001;
  background-color: pink;
}

.login-modal2 {
  right: 5%;
  top: 100px;
  position: absolute;
  visibility: hidden;
  width: 40%;
  height: 400px;
  border: 1px solid black;
  opacity: 1;
  z-index: 1001;
  background-color: pink;
}

.radio-avatar {
  width: 100px;
  height: auto;
}

.login-form {
  margin: 20px auto;
}

.racer_table {
  width: 80%;
  margin: 250px auto 0 auto;
  }

.racer_table td {
  background-color: white;
  height: 60px;
  width: 60px;
  border: 1px solid black;
}

#player1_strip td.active {
  background-color: blue;
}

#player2_strip td.active {
  background-color: green;
}
/* AVATARS */

#avatar1 {
  left: 5%;
  top: 100px;
  position: absolute;
  visibility: hidden;
  width: 40%;
  height: 400px;
  border: 1px solid black;
  opacity: 1;
  z-index: 1000;
  background-color: yellow;
}

#avatar2 {
  right: 5%;
  top: 100px;
  position: absolute;
  visibility: hidden;
  width: 40%;
  height: 400px;
  border: 1px solid black;
  opacity: 1;
  z-index: 1000;
  background-color: yellow;
}
.choose-avatar div {
  display: inline-block;
}

.choose-avatar img {
  width: 100px;
  height: auto;
  padding: 20px;
}

/*.active img {
  width: 80px;
  height: auto;
}*/

#scorescreen {
  left: 20%;
  top: 100px;
  position: absolute;
  visibility: hidden;
  text-align: center;
  width: 60%;
  height: 400px;
  border: 1px solid black;
  opacity: 1;
  z-index: 1001;
  background-color: pink;
}
