<div class="choose-avatar">
  <div id="narwhal"><img src="http://fc04.deviantart.net/fs70/f/2013/140/9/8/cute_little_narwhal_by_fallenstar20-d65z1e4.png"/></div>
  <div id="moon"><img src="http://www.jojopix.com/wp-content/uploads/2014/06/moon-clip-art-10.gif"/></div>
  <div id="hippo"><img src="http://illpop.com/img_illust/animal2/hippo_a03.png"/></div>
  <div id="nyan-cat"><img src="http://img1.wikia.nocookie.net/__cb20130608144609/anime-arts/images/7/7a/Nyan_cat_by_kkiittuuss-d4k5mf8.png"/></div>
</div>
