  <p><%= @errors if @errors %></p>
  <button id="player-1-login">Player 1</button>
  <button id="player-2-login">Player 2</button>

  <br><br>
  <div id="name">
    <!-- <button id="signup-button">Sign up!</button> -->
    <form id="signup-form" action="/signup" method="post">
      <input type="text" name="user[name]" placeholder="Enter your name">
      <input type="text" name="user[email]" placeholder="Enter your email">
      <input type="password" name="user[password]" placeholder="Enter your password">
      <input type="submit" value="Sign up">
    </form>
  </div>
