<form class="login-form" action="/login_two" method="post">
  <input type="text" name="email" placeholder="Enter your email">
  <input type="password" name="password" placeholder="Enter your password"><br>
  <input type="submit" value="Let the games begin">
</form>
