  <form class="login-form" action="/login" method="post">
    <input type="text" name="email<%=@login_no%>" placeholder="Enter your email">
    <input type="password" name="password<%=@login_no%>" placeholder="Enter your password"><br>
    <input type="submit" value="Let the games begin">
  </form>
