<div id="login-modal">
  <% 2.times do |i| %>
    <% @login_no = i %>
    <%= erb :_login %>
  <% end %>
</div>
<div id="container">
  <p><%= @errors if @errors %></p>
  <button id="test">Test</button>
  <br>
  <div id="name">
    <button id="signup-button">Sign up!</button>
    <form id="signup-form" action="/signup" method="post">
      <input type="text" name="user[name]" placeholder="Enter your name">
      <input type="text" name="user[email]" placeholder="Enter your email">
      <input type="password" name="user[password]" placeholder="Enter your password">
      <input type="submit" value="Sign up">
    </form>
  </div>
</div>
