<form id="login" action="/login" method="post">
  <input type="text" name="email" placeholder="Enter your email">
  <input type="password" name="password" placeholder="Enter your password">
  <input type="submit" value="Login">
</form>

<form id="signup" action="/signup" method="post">
  <input type="text" name="user[name]" placeholder="Enter your name">
  <input type="text" name="user[email]" placeholder="Enter your email">
  <input type="password" name="user[password]" placeholder="Enter your password">
  <input type="submit" value="Sign up">
</form>
