<table>
  <th>Player</th><th>Score</th>
<% @game.played_games.each do |played_game| %>
  <tr>
    <td><%= played_game.user.name %></td>
    <td><%= played_game.score %></td>
  </tr>
<% end %>
</table>
